<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="styling.css">
<head>
    <title>Accessibility Report</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.2/core.css"/>
<script
    type="module"
    src="https://pyscript.net/releases/2023.11.2/core.js"
></script>
</head>
<body>
<h1>Accessibility Report</h1>
<!--adding the list for variables for accessibility checks-->
{% if report.successful %}
    <h1>The website was successfully evaluated! Here is a table of accessibility issues:</h1>
    <table>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Number of images without alt text</td>
            <td>{{ report.num_images_without_alt }}</td>
        </tr>
        <tr>
            <td>Number of links</td>
            <td>{{ report.num_links }}</td>
        </tr>
        <tr>
            <td>Number of elements without sufficient colour contrast</td>
            <td>{{ report.num_insufficient_contrast_elements }}</td>
        </tr>
        <tr>
            <td>Does the element have a valid language attribute?</td>
            <td>{{ title_attribute }}</td>
        </tr>
    </table>
{% else %}
    <h3>Failed to generate report.</h3>
{% endif %}
</body>
</html>